.button {
  display: inline-block;
  border-radius: $borderRadius_small;
  border: $border-width_small solid;
  font-weight: $semiBold;
  padding: 0.75em 1em;
  min-width: 40px;
  cursor: pointer;
  &--primary {
    border-color: var(--tints-primary-darker);
    background-color: var(--tints-primary);
    color: white;
    &:hover {
      background-color: var(--tints-primary-darker);
    }
  }
  &--secondary {
    border: $border-width_small solid var(--tints-primary);
    background-color: transparent;
    color: var(--tints-primary);
    &:hover {
      color: var(--tints-primary-darker);
      border-color: var(--tints-primary-darker);
    }
  }
  &--tertiary {
    border: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    color: var(--tints-primary);
    &:hover {
      color: var(--tints-primary-darker);
      border-color: var(--tints-primary-darker);
    }
  }
}

.radiobutton_group {
  list-style: none;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  * {
    cursor: pointer;
  }
  .radiobutton {
    width: 100%;
    margin: 0;
    border: $border-width_small solid var(--input-border-color);
    padding: $inputPadding_small;
    line-height: 1em;
    background-color: var(--input-bg-color);
    border-radius: $borderRadius_small;
    margin-right: 1em;
    display: inline-block;
    line-height: 1em;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

[data-tradedirection="short"].selected {
  background-color: var(--goShort);
  label {
    color: var(--text-primary-onDarkBg);
  }
}
[data-tradedirection="long"].selected {
  background-color: var(--goLong);
  label {
    color: var(--text-primary-onDarkBg);
  }
}
