html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Colours
$tint: hsla(211, 100, 50, 1);

$grey1: hsla(240, 2, 57, 1);
$grey2: hsla(240, 3, 69, 1);
$grey3: hsla(240, 5, 79, 1);
$grey4: hsla(240, 6, 83, 1);
$grey5: hsla(240, 11, 91, 1);
$grey6: hsla(240, 24, 96, 1);

$separator: hsla(240, 6, 25, 0.3);
$background: $grey6;

$primaryText: hsla(0, 0, 0, 1);
$secondaryText: hsla(240, 6, 25, 0.6);
$tertiaryText: hsla(240, 6, 25, 0.3);

body {
  width: 100%;
  margin: 0;
  background-color: $background;
  color: $primaryText;
}

button {
  border-radius: 0.25rem;
  border: 0;
  font-weight: $semiBold;
  padding: 0.75em 1em;
  &.--primary {
    background-color: $tint;
    color: white;
    &:hover {
      background-color: darken($tint, $amount: 10%);
    }
  }
  &.--secondary {
    border: 1px solid $tint;
    background-color: transparent;
    color: $tint;
    &:hover {
      color: darken($tint, $amount: 10%);
      border-color: darken($tint, $amount: 10%);
    }
  }
}

a {
  color: $tint;
  &:hover {
    color: lighten($tint, $amount: 10%);
  }
}

label {
  color: $secondaryText;
}

form {
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 0;
  }
  input {
    margin-bottom: var(--fluid-1);
    border-radius: 0.25rem;
    border: 0;
    padding: 0.75em 1em;
    width: 100%;
    max-width: 20ch;
    &[type="text"] {
      background-color: white;
      border: 1px solid $grey4;
    }
  }

  button {
    align-self: flex-start;
    margin-bottom: var(--fluid-1);
  }
}

// Neded when combining
.fontAwesome {
  font-family: "Font Awesome 5 Free", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}
