// Light theme
:root {
  //Tints

  --tints-red-lighter: hsla(3, 100%, 71%, 100%);
  --tints-red: hsla(3, 100%, 59%, 100%);
  --tints-red-darker: hsla(3, 100%, 47%, 100%);
  --tints-orange-lighter: hsla(35, 100%, 62%, 100%);
  --tints-orange: hsla(35, 100%, 50%, 100%);
  --tints-orange-darker: hsla(35, 100%, 38%, 100%);
  --tints-yellow: hsla(48, 100%, 50%, 100%);
  --tints-green-lighter: hsla(135, 59%, 61%, 100%);
  --tints-green: hsla(135, 59%, 49%, 100%);
  --tints-green-darker: hsla(135, 59%, 37%, 100%);
  --tints-teal-lighter: hsla(199, 94%, 79%, 100%);
  --tints-teal: hsla(199, 94%, 67%, 100%);
  --tints-teal-darker: hsla(199, 94%, 55%, 100%);
  --tints-blue-lighter: hsla(211, 100%, 62%, 100%);
  --tints-blue: hsla(211, 100%, 50%, 100%);
  --tints-blue-darker: hsla(211, 100%, 38%, 100%);
  --tints-indigo: hsla(241, 61%, 59%, 100%);
  --tints-purple: hsla(280, 68%, 60%, 100%);
  --tints-pink: hsla(349, 100%, 59%, 100%);

  //Greys
  --greys-grey: hsla(240, 2%, 57%, 100%);
  --greys-grey2: hsla(240, 3%, 69%, 100%);
  --greys-grey3: hsla(240, 5%, 79%, 100%);
  --greys-grey4: hsla(240, 6%, 83%, 100%);
  --greys-grey5: hsla(240, 11%, 91%, 100%);
  --greys-grey6: hsla(240, 24%, 96%, 100%);

  //Backgrounds
  --bg-primary: hsla(0, 0%, 100%, 100%);
  --bg-secondary: hsla(240, 19%, 95%, 100%);
  --bg-tertiary: hsla(0, 0%, 100%, 100%);

  //Fill colors
  --fill-primary: hsla(240, 3%, 49%, 20%);
  --fill-secondary: hsla(240, 3%, 49%, 16%);
  --fill-tertiary: hsla(240, 4%, 48%, 12%);
  --fill-quartenary: hsla(240, 5%, 48%, 8%);

  //Separators
  --separator-opaque: hsla(240, 2%, 78%, 100%);
  --separator-nonOpaque: hsla(240, 6%, 25%, 29%);

  //Text
  --text-primary: hsla(0, 0%, 16%, 100%);
  --text-primary-onDarkBg: hsla(0, 0%, 100%, 100%);
  --text-secondary: hsla(240, 6%, 25%, 60%);
  --text-tertiary: hsla(240, 6%, 25%, 30%);
  --text-quartenary: hsla(240, 6%, 25%, 18%);

  //Semantic
  --bg-z0: var(--bg-secondary);
  --bg-z1: var(--bg-primary);
  --bg-z2: var(--bg-tertiary);

  --tints-primary: var(--tints-blue);
  --tints-primary-darker: var(--tints-blue-darker);
  --tints-primary-lighter: var(--tints-blue-lighter);

  //components
  --input-border-color: var(--greys-grey4);
  --input-bg-color: var(--fill-tertiary);
  --input-appendage-bg-color: var(--greys-grey4);
}
