:root {
  --tints-red-lighter: hsla(3, 100%, 73%, 100%);
  --tints-red: hsla(3, 100%, 61%, 100%);
  --tints-red-darker: hsla(3, 100%, 49%, 100%);
  --tints-orange: hsla(36, 100%, 52%, 100%);
  --tints-yellow: hsla(50, 100%, 52%, 100%);
  --tints-green-lighter: hsla(129, 67%, 64%, 100%);
  --tints-green: hsla(129, 67%, 52%, 100%);
  --tints-green-darker: hsla(129, 67%, 40%, 100%);
  --tints-teal: hsla(197, 100%, 70%, 100%);
  --tints-blue-lighter: hsla(210, 100%, 64%, 100%);
  --tints-blue: hsla(210, 100%, 52%, 100%);
  --tints-blue-darker: hsla(210, 100%, 40%, 100%);
  --tints-indigo: hsla(241, 73%, 63%, 100%);
  --tints-purple: hsla(280, 85%, 65%, 100%);
  --tints-pink: hsla(348, 100%, 61%, 100%);
  --greys-grey: hsla(240, 2%, 57%, 100%);
  --greys-grey2: hsla(240, 1%, 39%, 100%);
  --greys-grey3: hsla(240, 1%, 29%, 100%);
  --greys-grey4: hsla(240, 2%, 23%, 100%);
  --greys-grey5: hsla(240, 2%, 18%, 100%);
  --greys-grey6: hsla(240, 3%, 11%, 100%);
  --bg-primary: hsla(0, 0%, 0%, 100%);
  --bg-secondary: hsla(240, 3%, 11%, 100%);
  --bg-tertiary: hsla(240, 2%, 18%, 100%);
  --fill-primary: hsla(240, 3%, 49%, 36%);
  --fill-secondary: hsla(240, 3%, 49%, 32%);
  --fill-tertiary: hsla(240, 4%, 48%, 24%);
  --fill-quartenary: hsla(240, 5%, 48%, 18%);
  --separator-opaque: hsla(240, 2%, 22%, 100%);
  --separator-nonOpaque: hsla(240, 2%, 34%, 65%);
  --text-primary: hsla(0, 0%, 100%, 100%);
  --text-secondary: hsla(240, 33%, 94%, 60%);
  --text-tertiary: hsla(240, 33%, 94%, 30%);
  --text-quartenary: hsla(240, 33%, 94%, 18%);
  --tints-primary: var(--tints-blue);
  --tints-primary-darker: var(--tints-blue-darker);
  --tints-primary-lighter: var(--tints-blue-lighter);
  --bg-z0: var(--bg-primary);
  --bg-z1: var(--bg-secondary);
  --bg-z2: var(--bg-tertiary);
  --goShort: var(--tints-red);
  --goLong: var(--tints-green-darker);
  --accounting-loss: var(--tints-red);
  --accounting-profit: var(--tints-green);
  --input-border-color: var(--greys-grey4);
  --input-bg-color: var(--fill-tertiary);
  --input-appendage-bg-color: var(--greys-grey4); }
